<div class="progress">
    <div class="progress-bar progress-bar-success" id="pro-bar" role="progressbar" style="width:<%=@issue.pros_percentage%>%">
    	Pros <%=@issue.pros_percentage%>%
    </div>

    <div class="progress-bar progress-bar-danger" role="progressbar" id="con-bar" style="width:<%=@issue.cons_percentage%>%">
      Cons <%=@issue.cons_percentage%>%
    </div>
</div>