
<div class="main-page-container">
	 <h1>What's your issue?</h1>

	<div id="issue-input">
	    <form id="issue" method="post" action="/issue">
	    <input id="issue" type="text" name="issue" required/>
	    <h4>ex) quitting a job, adopting a dog ..</h4>
	    <input id="issue-input-submit" type="submit" value="Let's make a decision!">
	    </form>
	</div>
</div>